body {
    background: rgba(145, 145, 255, 0.684);
}


.titulo {
    font-style: italic;
    text-align: center;
    margin-top: 50px;
}

.container {
    width: 700px; 
    margin-left: auto;
    margin-right: auto;
    border-left: auto;
    text-align: center;
}

